:host {
    padding: 0 24px;
    background-color: white;
    min-height: 450px;
    display: block;
    > .prediction-chart {
        width: 100%;
    }
    &:has(.rds-progress-bar) {
        .prediction-chart {
            position: relative;
            &::before {
                content: '';
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background: white;
                z-index: +10;
            }
        }
    }
    > .rds-progress-bar {
        margin: 0 -24px 0;
        width: calc(100% + 48px);
    }
}